<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, processorArchitecture=MSIL" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, processorArchitecture=MSIL" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, processorArchitecture=MSIL" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <!--"TaapMssql": "Server=DESKTOP-4HQG5GN\\MSSQL;Database=db_Taap; User Id=sa; Password=sa"-->
    <!--<add name="TaapMssql" connectionString="Data Source=DESKTOP-4HQG5GN\MSSQL;Initial Catalog=db_Taap;Persist Security Info=True;User ID=sa;Password=sa;" providerName="System.Data.SqlClient" />-->
    <!--<add name="KKMssql" connectionString="Data Source=KRIRKKAIWIN12\SQL2012;Initial Catalog=dbweb;Persist Security Info=True;User ID=sa;Password=sql@2012;" providerName="System.Data.SqlClient" />-->
    <add name="KKMssql" connectionString="Data Source=203.154.126.61;Initial Catalog=dbweb;Persist Security Info=True;User ID=sa;Password=sql@2012;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>